.box {
    display: none;
}

@media (max-width: 992px) {
    .box {
        display: block;
    }
}

main {
    #header {
        .image {
            position: relative;
            overflow: hidden;
            width: 100%;

            img {
                width: 100%;
                // background: linear-gradient (to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
                animation: img_scale 4.2555s infinite;
            }

            @keyframes img_scale {
                0% {
                    transform: scale(1) translateZ(0);
                }

                50% {
                    transform: scale(1.05) translateZ(0);
                }

                100% {
                    transform: scale(1) translateZ(0);
                }
            }

            .first-txt {
                position: absolute;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 83px;
            }
        }
    }

    #about {
        padding: 50px 0px;

        .left {
            padding-top: 60px;
            
            .subtitle {
                color: #ce1a26;
                padding-bottom: 20px;
            }

            .line {
                width: 80px;
                height: 3px;
                background-color: #ce1a26;
            }

            .desc{
                padding-top: 20px;
            }
        }

        .right {
            padding-top: 50px;
            img {
                width: 100%;
            }
        }
    }

    #discount {
        padding-top: 30px;

        .images {
            width: 100%;

            .image {
                overflow: hidden;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    animation: img_scale 4.2555s infinite;
                }

                @keyframes img_scale {
                    0% {
                        transform: scale(1) translateZ(0);
                    }

                    50% {
                        transform: scale(1.05) translateZ(0);
                    }

                    100% {
                        transform: scale(1) translateZ(0);
                    }
                }
            }
        }
    }
}