main #thumbnail {
  position: relative;
}

main #thumbnail .images {
  width: 100%;
}

main #thumbnail .images .image {
  overflow: hidden;
  width: 100%;
}

main #thumbnail .images .image img {
  width: 100%;
  height: 100%;
  -webkit-animation: img_scale 4.2555s infinite;
          animation: img_scale 4.2555s infinite;
}

@-webkit-keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

@keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

main #thumbnail .title-button {
  width: 30%;
  position: absolute;
  top: 35%;
  left: 50px;
}

main #thumbnail .title-button span {
  color: white;
  font-size: 360%;
  line-height: 58px;
  font-weight: 400;
}

main #thumbnail .title-button a {
  width: 58%;
  height: 43px;
  border-radius: 25px;
  border: none;
  padding: 12px 23px;
  background-color: #ce1a26;
  color: white;
  font-size: 13px;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  main #thumbnail .title-button {
    top: 25%;
  }
  main #thumbnail .title-button span {
    font-size: 200%;
  }
  main #thumbnail .title-button a {
    width: 100px;
    font-size: 7px;
  }
}

@media screen and (max-width: 568px) {
  main #thumbnail .title-button {
    top: 15%;
  }
  main #thumbnail .title-button span {
    font-size: 100%;
  }
}

@media screen and (max-width: 387px) {
  main #thumbnail .title-button {
    top: 15%;
  }
  main #thumbnail .title-button span {
    padding: 25% 0px 50% 0;
    font-size: 70%;
  }
}

@media screen and (max-width: 484px) {
  main #thumbnail .title-button {
    top: 5%;
  }
  main #thumbnail .title-button span {
    padding: 15% 0px 50% 0;
    font-size: 70%;
  }
  main #thumbnail .title-button a {
    width: 8%;
    font-size: 5px;
    padding: 4px 6px;
    height: 43px;
  }
}

main #info .container .row .col-lg-3 {
  padding: 2% 0;
}

main #info .container .row .col-lg-3 .text {
  padding-left: 19%;
}

main #info .container .row .col-lg-3 .text span {
  padding-left: 7px;
}

@media screen and (max-width: 768px) {
  main #info .container .row i {
    font-size: 10px;
  }
  main #info .container .row span {
    font-size: 10px;
  }
}

main #popular-dishes h1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0;
}

main #popular-dishes .container .row .product .image {
  margin: 3%;
  position: relative;
  overflow: hidden;
}

main #popular-dishes .container .row .product .image img {
  width: 100%;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #popular-dishes .container .row .product .image .first-txt {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  -webkit-transition: linear;
  transition: linear;
}

main #popular-dishes .container .row .product .image:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

main #popular-dishes .container .row .product .image:hover .first-txt {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

main #popular-dishes .container .row .product .title a {
  left: 25%;
  text-decoration: none;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  text-align: center;
  font-style: italic;
}

main #popular-dishes .container .row .product .title:hover a {
  color: #ce1a26;
}

main #popular-dishes .container .row .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #popular-dishes .container .row .product .price p {
  color: #ce1a26;
}

main #discount {
  padding: 60px 0px;
}

main #discount .images {
  width: 100%;
}

main #discount .images .image {
  overflow: hidden;
  width: 100%;
}

main #discount .images .image img {
  width: 100%;
  height: 100%;
  -webkit-animation: img_scale 4.2555s infinite;
          animation: img_scale 4.2555s infinite;
}

@keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

main #menu .header .container .button {
  padding-left: 30%;
}

main #menu .header .container .button a {
  width: 18%;
  height: 30px;
  border-radius: 25px;
  border: none;
  padding: 5px 23px;
  background-color: #ce1a26;
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
}

main #menu .header .container .button a i {
  padding-left: 15px;
}

@media screen and (max-width: 1196px) {
  main #menu .header .container .button a i {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  main #menu .header .container .button {
    padding-left: 20%;
  }
}

@media screen and (max-width: 768px) {
  main #menu .header .container h3 {
    text-align: center;
  }
  main #menu .header .container .button {
    padding-left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #menu .header .container .button a {
    text-align: center;
    width: 50%;
  }
}

main #menu .products .container .row .product {
  padding: 0;
}

main #menu .products .container .row .product .image {
  margin: 3%;
  position: relative;
  overflow: hidden;
}

main #menu .products .container .row .product .image img {
  width: 100%;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  opacity: 1;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #menu .products .container .row .product .image .first-txt {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  -webkit-transition: linear;
  transition: linear;
}

main #menu .products .container .row .product .image:hover a img {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

main #download {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

main #download .images {
  width: 100%;
}

main #download .images .image {
  overflow: hidden;
  width: 100%;
}

main #download .images .image img {
  width: 100%;
  height: 100%;
  -webkit-animation: img_scale 4.2555s infinite;
          animation: img_scale 4.2555s infinite;
}

@keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

main #download .title-button {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

main #download .title-button span {
  color: white;
  font-size: 360%;
  line-height: 58px;
  font-weight: 400;
}

main #download .title-button .button {
  padding-top: 20px;
}

main #download .title-button .button .app-store {
  padding-right: 15px;
}

@media screen and (max-width: 1558px) {
  main #download .title-button {
    top: 25%;
  }
  main #download .title-button span {
    font-size: 200%;
  }
  main #download .title-button a img {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  main #download .title-button {
    top: 20%;
  }
  main #download .title-button span {
    font-size: 100%;
  }
  main #download .title-button a img {
    width: 100px;
  }
}

@media screen and (max-width: 866px) {
  main #download .title-button {
    top: 15%;
  }
  main #download .title-button span {
    padding: 25% 0px 50% 0;
    font-size: 100%;
  }
  main #download .title-button a img {
    width: 70px;
  }
}

@media screen and (max-width: 484px) {
  main #download .title-button {
    top: 5%;
  }
  main #download .title-button span {
    padding: 15% 0px 50% 0;
    font-size: 70%;
  }
  main #download .title-button .button {
    padding-top: 6px;
  }
}

@media screen and (max-width: 303px) {
  main #download .title-button span {
    display: none;
  }
  main #download .title-button .button a img {
    display: none;
  }
}

main #news {
  padding-bottom: 50px;
}

main #news .header {
  padding-top: 15px;
  padding-bottom: 15px;
}

main #news .header .container .button {
  padding-left: 30%;
}

main #news .header .container .button a {
  width: 18%;
  height: 30px;
  border-radius: 25px;
  border: none;
  padding: 5px 23px;
  background-color: #ce1a26;
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
}

main #news .header .container .button a i {
  padding-left: 15px;
}

@media screen and (max-width: 1196px) {
  main #news .header .container .button a i {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  main #news .header .container .button {
    padding-left: 20%;
  }
}

@media screen and (max-width: 768px) {
  main #news .header .container h3 {
    text-align: center;
  }
  main #news .header .container .button {
    padding-left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #news .header .container .button a {
    text-align: center;
    width: 50%;
  }
}

main #news .news .container .row .nws {
  padding: 0;
}

main #news .news .container .row .nws .image {
  margin: 3%;
  position: relative;
  overflow: hidden;
}

main #news .news .container .row .nws .image img {
  width: 100%;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #news .news .container .row .nws .image .first-txt {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  -webkit-transition: linear;
  transition: linear;
}

main #news .news .container .row .nws .image:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

main #news .news .container .row .nws .image:hover .first-txt {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

main #news .news .container .row .nws .title a {
  left: 25%;
  text-decoration: none;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  text-align: center;
}

main #news .news .container .row .nws .title:hover a {
  color: #ce1a26;
}

main #news .news .container .row .nws .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #news .news .container .row .nws .desc p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */