main #header .image {
  position: relative;
  overflow: hidden;
  width: 100%;
}

main #header .image img {
  width: 100%;
  -webkit-animation: img_scale 4.2555s infinite;
          animation: img_scale 4.2555s infinite;
}

@-webkit-keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

@keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

main #header .image .first-txt {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 83px;
}

main #products .container .icons {
  padding-top: 30px;
  padding-left: 13px;
  padding-bottom: 15px;
}

main #products .container .icons .fa-solid {
  font-size: 50px;
  border: 1px solid #e8e8e8;
  padding: 15px;
  color: #333333;
}

main #products .listss {
  padding-bottom: 50px;
}

main #products .listss .container .row .product .image {
  margin: 3%;
  position: relative;
  overflow: hidden;
}

main #products .listss .container .row .product .image img {
  width: 100%;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #products .listss .container .row .product .image .first-txt {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  -webkit-transition: linear;
  transition: linear;
}

main #products .listss .container .row .product .image:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

main #products .listss .container .row .product .image:hover .first-txt {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

main #products .listss .container .row .product .title a {
  left: 25%;
  text-decoration: none;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  text-align: center;
  font-style: italic;
}

main #products .listss .container .row .product .title:hover a {
  color: #ce1a26;
}

main #products .listss .container .row .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .listss .container .row .product .price p {
  color: #ce1a26;
}

main #products .grids {
  padding-bottom: 50px;
}

main #products .grids .right {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 25px;
}

main #products .grids .right .title h3 a {
  text-decoration: none;
  color: #333333;
}

main #products .grids .right .title:hover h3 a {
  color: #ce1a26;
}

main #products .grids .right .subtitle {
  color: #ce1a26;
  padding-bottom: 20px;
}

main #products .grids .right .line {
  width: 80px;
  height: 3px;
  background-color: #ce1a26;
}

main #products .grids .right .desc {
  padding-top: 20px;
}

main #products .grids .left {
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 25px;
}

main #products .grids .left .image {
  margin: 3%;
  position: relative;
  overflow: hidden;
}

main #products .grids .left .image img {
  width: 100%;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #products .grids .left .image .first-txt {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  -webkit-transition: linear;
  transition: linear;
}

main #products .grids .left .image:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
}

main #products .grids .left .image:hover .first-txt {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

main #discount {
  padding-top: 30px;
}

main #discount .images {
  width: 100%;
}

main #discount .images .image {
  overflow: hidden;
  width: 100%;
}

main #discount .images .image img {
  width: 100%;
  height: 100%;
  -webkit-animation: img_scale 4.2555s infinite;
          animation: img_scale 4.2555s infinite;
}

@keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}
/*# sourceMappingURL=style.css.map */