@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Ubuntu:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

a {
  .up {
    z-index: 100000;
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 40px;
    height: 40px;
    background-color: #ce1a26;
    border-radius: 5px;

    i {
      position: absolute;
      left: 9px;
      top: 7px;
      font-size: 30px;
      color: white;
    }
  }


}
@media screen and (max-width: 1024px) {
  .navigateTop {
    display: none;
  }
}



header {
  nav {
    background: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    height: 85px;
    z-index: 100000;

    .container {
      .logo {

        img {
          width: 205px;
          margin-top: 9px;
        }
      }

      @media screen and (max-width: 576px) {
        .logo {
          margin-left: 25px;

        }
      }

      .options {
        padding: 0;

        ul {
          margin: 0px;
          padding: 0;
          margin-left: 240px;
          margin-top: 15px;

          li {
            list-style: none;
            padding-right: 4%;
            padding-top: 5px;
            font-size: 12px;
            font-weight: 550;
            cursor: pointer;

            a {
              text-decoration: none;
              color: white;

              &:hover {
                color: orange;
              }
            }
          }
        }
      }

      @media screen and (max-width: 1200px) {
        .options {
          ul {

            margin-left: 200px;
          }
        }
      }

      .relative {
        position: relative;
        padding: 8px 0px 0px;

        .hamburger {
          display: none;
          margin-top: 10px;
        }

        .cl-4 {
          position: fixed;
          right: 0%;
          z-index: 2;
          background: -webkit-linear-gradient(to right, #dd1818, #333333);
          background: linear-gradient(to right, #dd1818, #333333);
          width: 300px;
          box-shadow: 0 1px 23.28px 0.72px;
          top: 0px;
          width: 0;
          height: 100%;

          @media (max-width: 1024px) {
            max-width: 300px;
          }

          @media (max-width: 380px) {
            max-width: 100%;
          }

          .x {
            position: relative;
            padding-bottom: 15px;

            .fa-times {
              position: absolute;
              top: 5%;
              right: 8%;
              color: white;
              padding-top: 15px;
            }
          }

          ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 30px;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            color: #0e0e0e;

            li {
              padding-bottom: 30px;
              color: white;

              a {
                text-decoration: none;
                color: white;

                &:hover {
                  color: orange;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .options {
      display: none;
    }

    .mix {
      display: none !important;
    }

    .relative {
      .hamb {
        .hamburger {
          display: block !important;
        }
      }
    }
  }
}

.box {
  width: 100%;
  background: -webkit-linear-gradient(to right, #dd1818, #333333);
  background: linear-gradient(to right, #dd1818, #333333);
  height: 1px;
  padding-top: 85px;
}

footer {
  background-image: url("/assets/img/footer-background-scaled.jpg");

  background-repeat: no-repeat;
  background-size: 100% 100%;

  .top {
    .container {
      .row {
        .lists {
          margin-top: 100px;
          padding: 0;

          h3 {
            color: white;
            font-size: 15px;
            padding-bottom: 15px;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              padding-bottom: 8px;

              a {
                text-decoration: none;
                color: white;

                img {
                  width: 150px;
                }
              }

              &:hover {
                a {
                  color: #fcdf31;
                }
              }
            }
          }
        }

        @media screen and (max-width: 992px) {
          .lists {
            h3 {
              text-align: center;
            }

            ul {
              text-align: center;
            }
          }
        }

        .right {

          li {
            color: #fcdf31;

            img {
              width: 160px;
            }
          }


          .middle {
            display: flex;
            justify-content: center;
          }

          .firstorder {
            text-align: center;
          }
        }

        .opening-hours {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {

    .top {
      display: none;

      .container {
        .row {
          .lists {
            h3 {
              text-align: center;
            }

            ul {
              li {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    .container {
      .logo {
        display: flex;
        justify-content: center;
        padding-bottom: 45px;
        padding-top: 45px;

        img {
          width: 200px;

        }
      }

      .title {
        display: flex;
        justify-content: center;
        text-align: center;

        h3 {
          color: #fcdf31;
          font-size: 45px;
        }

      }

      .desc {
        display: flex;
        justify-content: center;
        text-align: center;

        p {
          color: #fff;
        }
      }

      .subscribe {
        .input {
          display: flex;
          justify-content: center;
          padding-bottom: 25px;

          input {
            width: 48%;
            height: 50px;
            border-radius: 25px;
            border: none;
            padding: 12px 20px;
          }
        }

        .submit {
          display: flex;
          justify-content: center;
          padding-bottom: 45px;

          button {
            width: 48%;
            height: 50px;
            border-radius: 25px;
            border: none;
            padding: 12px 20px;
            background-color: #ce1a26;
            color: white;
          }
        }
      }

      .social-list {
        display: flex;
        justify-content: center;
        padding-bottom: 200px;

        ul {
          list-style: none;
          display: flex;

          li {
            padding-right: 25px;

            a {
              text-decoration: none;
              color: #fff;

              i {
                font-size: 16px;
              }

              &:hover {
                i {
                  color: #fcdf31;
                }
              }
            }
          }
        }
      }
    }
  }
}