.box {
    display: none;
}

@media (max-width: 992px) {
    .box {
        display: block;
    }
}

main {
    #header {
        .image {
            position: relative;
            overflow: hidden;
            width: 100%;

            img {
                width: 100%;
                animation: img_scale 4.2555s infinite;
            }

            @keyframes img_scale {
                0% {
                    transform: scale(1) translateZ(0);
                }

                50% {
                    transform: scale(1.05) translateZ(0);
                }

                100% {
                    transform: scale(1) translateZ(0);
                }
            }

            .first-txt {
                position: absolute;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 83px;
            }
        }
    }

    #products {
        margin-top: 50px;
        margin-bottom: 50px;

        .border {
            border: 1px solid black;

            .title {
                margin-top: 30px;
                .product {
                    display: flex;
                    align-items: center;

                    h3 {
                        margin: 0;
                    }
                }

                .price {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        margin: 0;
                    }
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        margin: 0;
                    }
                }

                .total {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        margin: 0;
                        text-align: center;
                    }
                }

                .delete {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        margin: 0;
                    }
                }
            }

            .container {
                .line {
                    width: 100%;
                    background-color: #aaa;
                    height: 1px;
                    padding: 0px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }

            .main {
                margin-top: 15px;
                margin-bottom: 15px;
                .product {
                    
                    .image {
                        display: flex;
                        align-items: center;
                        
                        img {
                            width: 120px;
                        }

                        .title {
                            
                            h5 {
                                padding-left: 10px;
                                padding-right: 10px;
                                margin-bottom: 20px;
                                flex-direction: column;
                            align-items: center;
                            }
                        }
                    }

                    @media screen and (max-width: 768px) {
                        .image{
                            justify-content: center;
                        }
                    }

                   
                }

                .price {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h5{
                        margin: 0;
                    }
                    
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h5{
                        margin: 0;
                    }
                }

                .total {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h5{
                        margin: 0;
                    }
                }

                .delete {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        cursor: pointer;

                        &:hover {
                            color: #ce1a26;
                        }
                    }
                }
            }
        }
    }

    .second-responsive {
        display: none;
    }
    .responsive-name{
        display: none;
    }

    @media screen and (max-width: 768px) {
        .table {
            .border {
                .main-title {
                    display: none;

                }

                .container {
                    .line {
                        display: none;
                    }
                }
            }
        }

        .main{
            .product{
                .image{
                    margin-top: 15px;
                    .title{
                        h5{
                           display: none;
                        }
                    }
                }
            }
        }

        .responsive-name{
            display: block;
            h5{
                text-align: center;
            }
        }

        .first-responsive {
            display: none;
        }

        .second-responsive {
            display: block;
        }

        .delete{
            margin-bottom: 15px;
        }

    }
}