.box {
    display: none;
}

@media (max-width: 992px) {
    .box {
        display: block;
    }
}

main {
    #header {
        .image {
            position: relative;
            overflow: hidden;
            width: 100%;

            img {
                width: 100%;
                // background: linear-gradient (to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
                animation: img_scale 4.2555s infinite;
            }

            @keyframes img_scale {
                0% {
                    transform: scale(1) translateZ(0);
                }

                50% {
                    transform: scale(1.05) translateZ(0);
                }

                100% {
                    transform: scale(1) translateZ(0);
                }
            }

            .first-txt {
                position: absolute;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 83px;
            }
        }
    }

    #products {
        margin-top: 50px;
        margin-bottom: 50px;

        .border {
            border: 1px solid black;

            .title {
                .product {
                    display: flex;
                    align-items: center;
                    h3 {
                        margin: 0;
                    }
                }

                .price {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        margin: 0;
                    }
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        margin: 0;
                    }
                }

                .total {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        margin: 0;
                        text-align: center;
                    }
                }

                .delete {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        margin: 0;
                    }
                }
            }

            .container {
                .line {
                    width: 100%;
                    background-color: #aaa;
                    height: 1px;
                    padding: 0px;
                }
            }

            .main {
                .product {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 120px;
                            flex-direction: column;
                            
                        }
                    }

                    .title {
                        justify-content: center;
                       h5{
                           padding-left: 10px;
                           padding-right: 10px;
                           margin: 0;
                        text-align: center;

                       }
                    }
                }
                .price{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .quantity{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .total{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .delete{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    // #products {
    //     margin-top: 50px;
    //     margin-bottom: 50px;

    //     table {
    //         border: 1px solid #aaa;
    //         border-radius: 25px;
    //         width: 100%;
    //         height: 300px;
    //         padding: 20px;

    //         thead {
    //             tr {
    //                 th {
    //                     text-align: center;
    //                     padding: 20px;

    //                 }
    //             }
    //         }

    //         tbody {
    //             tr {
    //                 td {
    //                     text-align: center;
    //                     padding: 20px;
    //                 }

    //                 .first {
    //                     width: 25%;
    //                     img{
    //                         width: 100%;
    //                     }
    //                 }
    //             }
    //         }
    //     }

    // }


}