.box {
  display: none;
}

@media (max-width: 992px) {
  .box {
    display: block;
  }
}

main #header .image {
  position: relative;
  overflow: hidden;
  width: 100%;
}

main #header .image img {
  width: 100%;
  -webkit-animation: img_scale 4.2555s infinite;
          animation: img_scale 4.2555s infinite;
}

@-webkit-keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

@keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

main #header .image .first-txt {
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 83px;
}

main #products {
  margin-top: 50px;
  margin-bottom: 50px;
}

main #products .border {
  border: 1px solid black;
}

main #products .border .title {
  margin-top: 30px;
}

main #products .border .title .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #products .border .title .product h3 {
  margin: 0;
}

main #products .border .title .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .title .price h3 {
  margin: 0;
}

main #products .border .title .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .title .quantity h3 {
  margin: 0;
}

main #products .border .title .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .title .total h3 {
  margin: 0;
  text-align: center;
}

main #products .border .title .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .title .delete h3 {
  margin: 0;
}

main #products .border .container .line {
  width: 100%;
  background-color: #aaa;
  height: 1px;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

main #products .border .main {
  margin-top: 15px;
  margin-bottom: 15px;
}

main #products .border .main .product .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .main .product .image img {
  width: 120px;
}

main #products .border .main .product .image .title h5 {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #products .border .main .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .main .price h5 {
  margin: 0;
}

main #products .border .main .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .main .quantity h5 {
  margin: 0;
}

main #products .border .main .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .main .total h5 {
  margin: 0;
}

main #products .border .main .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #products .border .main .delete i {
  cursor: pointer;
}

main #products .border .main .delete i:hover {
  color: #ce1a26;
}

main .second-responsive {
  display: none;
}

main .responsive-name {
  display: none;
}

@media screen and (max-width: 768px) {
  main .table .border .main-title {
    display: none;
  }
  main .table .border .container .line {
    display: none;
  }
  main .main .product .image {
    margin-top: 15px;
  }
  main .main .product .image .title h5 {
    display: none;
  }
  main .responsive-name {
    display: block;
  }
  main .responsive-name h5 {
    text-align: center;
  }
  main .first-responsive {
    display: none;
  }
  main .second-responsive {
    display: block;
  }
  main .delete {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */