.box {
    display: none;
}

@media (max-width: 992px) {
    .box {
        display: block;
    }
}


main{
    #header {
        .image {
            position: relative;
            overflow: hidden;
            width: 100%;
    
            img {
                width: 100%;
                animation: img_scale 4.2555s infinite;
            }
    
            @keyframes img_scale {
                0% {
                    transform: scale(1) translateZ(0);
                }
    
                50% {
                    transform: scale(1.05) translateZ(0);
                }
    
                100% {
                    transform: scale(1) translateZ(0);
                }
            }
    
            .first-txt {
                position: absolute;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 83px;
                text-align: center;
            }

            @media (max-width: 500px) {
                .first-txt{
                    font-size: 55px;
                }
            }
        }
    }
    
    #logos {
        margin-top: 50px;
    
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
    
            img {
                width: 100%;
    
            }
        }
    
    }

    #discount {
        padding-top: 30px;

        .images {
            width: 100%;

            .image {
                overflow: hidden;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    animation: img_scale 4.2555s infinite;
                }

                @keyframes img_scale {
                    0% {
                        transform: scale(1) translateZ(0);
                    }

                    50% {
                        transform: scale(1.05) translateZ(0);
                    }

                    100% {
                        transform: scale(1) translateZ(0);
                    }
                }
            }
        }
    }
}