main #header {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #020024), color-stop(53%, #790946), to(#00d4ff));
  background: linear-gradient(90deg, #020024 15%, #790946 53%, #00d4ff 100%);
  padding-top: 250px;
  padding-bottom: 250px;
}

main #header .first-txt {
  color: white;
  font-size: 83px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  main #header .first-txt {
    font-size: 53px;
  }
}

@media screen and (max-width: 485px) {
  main #header .first-txt {
    font-size: 33px;
  }
}

main #news {
  padding-top: 50px;
}

main #news .left {
  border-right: 1px solid #ce1a26;
}

main #news .left .main .image img {
  width: 100%;
}

main #news .left .main .title {
  padding-top: 30px;
}

main #news .left .main .title h1 {
  margin: 0;
}

main #news .left .main .desc {
  padding-top: 30px;
}

main #news .left .title {
  padding-top: 50px;
}

main #news .left .comments {
  margin-top: 10px;
  padding-top: 40px;
  border-radius: 25px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #DBDEDE;
}

main #news .left .comments .row .image img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  main #news .left .comments .row .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #news .left .comments .row .image img {
    width: 100px;
  }
}

main #news .left .comments .row .comment-name .name {
  padding-top: 16px;
  padding-left: 20px;
}

main #news .left .comments .row .comment-name .date-time {
  padding-top: 15px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #news .left .comments .row .comment-name .date-time span {
  padding-right: 15px;
}

main #news .left .comments .row .comment-name .comment {
  padding-top: 25px;
  padding-left: 20px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 992px) {
  main #news .left .comments .row .comment-name {
    text-align: center;
  }
  main #news .left .comments .row .comment-name .name {
    padding-top: 32px;
    padding-left: 0px;
  }
  main #news .left .comments .row .comment-name .date-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
  main #news .left .comments .row .comment-name .comment {
    padding-top: 25px;
    padding-left: 05px;
  }
}

main #news .left .comment-section .comment-area {
  padding-top: 50px;
}

main #news .left .comment-section .comment-area .cmnt {
  border-radius: 25px;
  padding: 15px 15px;
}

main #news .left .comment-section .inputs .submit {
  text-align: end;
}

main #news .left .comment-section .inputs .submit button {
  height: 50px;
  border-radius: 25px;
  border: none;
  border: 1px solid #ce1a26;
  padding: 12px 20px;
  background-color: #ce1a26;
  color: white;
}

@media screen and (max-width: 992px) {
  main #news .left {
    border: none;
  }
}

main #news .right {
  padding-left: 25px;
  padding-right: 25px;
}

main #news .right .line {
  width: 100%;
  height: 5px;
  background-color: #ce1a26;
  visibility: hidden;
}

main #news .right .middle {
  visibility: visible;
}

main #news .right .title {
  padding-top: 15px;
  text-align: center;
}

main #news .right .title h3 {
  font-size: 19px;
  color: #ce1a26;
}

main #news .right .list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main #news .right .list ul li {
  text-align: center;
  padding-bottom: 15px;
}

main #news .right .list ul li a {
  text-decoration: none;
  color: black;
}

main #news .right .list ul li:hover a {
  color: #ce1a26;
}

@media screen and (max-width: 992px) {
  main #news .right {
    padding-left: 0px;
    padding-right: 0px;
  }
  main #news .right .line {
    visibility: visible;
  }
}

main #discount {
  padding-top: 60px;
}

main #discount .images {
  width: 100%;
}

main #discount .images .image {
  overflow: hidden;
  width: 100%;
}

main #discount .images .image img {
  width: 100%;
  height: 100%;
  -webkit-animation: img_scale 4.2555s infinite;
          animation: img_scale 4.2555s infinite;
}

@-webkit-keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}

@keyframes img_scale {
  0% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.05) translateZ(0);
            transform: scale(1.05) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1) translateZ(0);
            transform: scale(1) translateZ(0);
  }
}
/*# sourceMappingURL=style.css.map */