main {
    #header {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 15%, rgba(121, 9, 70, 1) 53%, rgba(0, 212, 255, 1) 100%);

        padding-top: 250px;
        padding-bottom: 250px;

        .first-txt {
            color: white;
            font-size: 83px;
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            .first-txt {
                font-size: 53px;
            }

        }

        @media screen and (max-width: 485px) {
            .first-txt {
                font-size: 33px;
            }

        }
    }

    #news {
        padding-top: 50px;

        .left {
            border-right: 1px solid #ce1a26;

            .main {
                .image {
                    img {
                        width: 100%;
                    }
                }

                .title {
                    padding-top: 30px;

                    h1 {
                        margin: 0;
                    }
                }

                .desc {
                    padding-top: 30px;
                }


            }

            .title {
                padding-top: 50px;
            }

            .comments {
                margin-top: 10px;
                padding-top: 40px;
                // border: 1px solid #ce1a26;
                border-radius: 25px;
                padding-bottom: 40px;
                padding-left: 20px;
                padding-right: 20px;
                background-color: #DBDEDE;

                .row {
                    .image {
                        img {
                            width: 100%;
                        }
                    }

                    @media screen and (max-width: 992px) {
                        .image {
                            display: flex;
                            justify-content: center;

                            img {
                                width: 100px;
                            }
                        }


                    }

                    .comment-name {
                        .name {
                            padding-top: 16px;
                            padding-left: 20px;
                        }

                        .date-time {
                            padding-top: 15px;
                            padding-left: 20px;
                            display: flex;
    
                            span {
                                padding-right: 15px;
                            }
                        }

                        .comment {
                            padding-top: 25px;
                            padding-left: 20px;
                        }
                    }

                    @media screen and (max-width: 992px) {
                        .comment-name {
                            text-align: center;

                            .name {
                                padding-top: 32px;
                                padding-left: 0px;
                            }
                            .date-time {
                                display: flex;
                                justify-content: center;
                                padding-left: 0px;
    
                            }
                            .comment {
                                padding-top: 25px;
                                padding-left: 05px;
                            }
                        }

                    }
                }
            }

            .comment-section {
                .comment-area {
                    padding-top: 50px;

                    .cmnt {
                        border-radius: 25px;
                        padding: 15px 15px;
                    }
                }

                .inputs {
                    display: flex;
                    justify-content: space-between;

                    .input {
                        padding-bottom: 25px;
                        width: 100%;
                        padding-right: 5px;

                        input {
                            width: 100%;
                            height: 50px;
                            border-radius: 25px;
                            border: 1px solid #ce1a26;
                            padding: 12px 20px;
                        }
                    }

                    .submit {

                        button {
                            width: 100%;
                            height: 50px;
                            border-radius: 25px;
                            border: none;
                            border: 1px solid #ce1a26;
                            padding: 12px 20px;
                            background-color: #ce1a26;
                            color: white;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 992px) {

            .left {
                border: none;
            }

        }

        .right {
            padding-left: 25px;
            padding-right: 25px;

            .line {
                width: 100%;
                height: 5px;
                background-color: #ce1a26;
                visibility: hidden;
            }

            .middle {
                visibility: visible;
            }

            .title {
                padding-top: 30px;
                text-align: center;

                h3 {
                    font-size: 19px;
                    color: #ce1a26;
                }
            }



            .list {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        text-align: center;
                        padding-bottom: 15px;

                        a {
                            text-decoration: none;
                            color: black;
                        }

                        &:hover {
                            a {
                                color: #ce1a26;
                            }
                        }
                    }

                }
            }
        }

        @media screen and (max-width: 992px) {
            .right {
                padding-left: 0px;
                padding-right: 0px;

                .line {
                    visibility: visible;
                }
            }
        }
    }

    #popular-dishes {
        h1 {
            text-align: center;
            padding-top: 5%;
            padding-bottom: 5%;
            margin: 0;
        }

        .container {
            .row {
                .product {
                    .image {
                        margin: 3%;
                        position: relative;
                        overflow: hidden;

                        img {
                            width: 100%;
                            transform: scale(1) translateZ(0);
                            transition: transform 0.3s ease;
                        }

                        .first-txt {
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            left: 53%;
                            transform: translate(-50%, -50%);
                            text-decoration: none;
                            color: white;
                            transition: linear;
                        }

                        &:hover {
                            img {
                                filter: brightness(50%);
                                transform: scale(1.05) translateZ(0);
                            }

                            .first-txt {
                                visibility: visible;
                                opacity: 1;
                                transition: visibility 0.3s linear, opacity 0.3s linear;
                                transition-timing-function: linear;
                            }
                        }
                    }

                    .title {
                        a {
                            left: 25%;
                            text-decoration: none;
                            color: #333333;
                            display: flex;
                            justify-content: center;
                            font-size: 32px;
                            text-align: center;
                            font-style: italic;
                        }

                        &:hover {
                            a {
                                color: #ce1a26;
                            }
                        }
                    }

                    .price {
                        display: flex;
                        justify-content: center;

                        p {
                            color: #ce1a26;
                        }
                    }
                }
            }
        }
    }

    #discount {
        padding-top: 60px;

        .images {
            width: 100%;

            .image {
                overflow: hidden;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    animation: img_scale 4.2555s infinite;
                }

                @keyframes img_scale {
                    0% {
                        transform: scale(1) translateZ(0);
                    }

                    50% {
                        transform: scale(1.05) translateZ(0);
                    }

                    100% {
                        transform: scale(1) translateZ(0);
                    }
                }
            }
        }
    }
}